.item-card {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
  max-width: calc(100vw * .165);
  max-height: calc(100vw * .165);
  
  
  /* max-width: 240px;
  max-height: 240px; */
  justify-self: center;
  position: relative;
  border: 1px solid #0000004d;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
/* 
.item-card__name-container {
  grid-area: 1/ 1;
  z-index: 1;
  height: min-content;
  width: fit-content;
  padding: 2px 12px;
  border-radius: 4px;
  justify-content: center;
  align-self: baseline;
  margin: 15px auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.item-card__image {
  grid-area: 1/ 1;
  margin: 0;
  padding: 0;
  object-fit: cover;
  
  max-width: calc(100vw * .165);
  max-height: calc(100vw * .165);
  
  /* max-width: 240px;
  max-height: 240px; */
  /* border-radius: 8px; */
}

.item-card_modal {
  position: relative;
  /* margin: auto auto; */
  transform: translate(-50% -50%);
  height: 50%;
  width: 50%;
  z-index: 2;
}

@media screen and (max-width: 500px) {
  .item-card {
    max-height: 164px;
    min-width: 164px;
  }

  .item-card__name-container {
    margin-top: 7px;
  }

  .item-card__image {
    min-width: 164px;
    width: 100%;
    max-height: 164px;
  }

  .item-card__title {
    font-size: 1rem;
  }
}
