.footer {
  margin: 85px auto 20px;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer__author {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.footer__year {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
