.user-info__container {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 12px;
  align-items: center;
  border: none;
  justify-content: end;
  background-color: transparent;
  max-height: 40px;
}

.user-info__user-name {
  text-align: left;
  color: var(--color-styleWhite);
  font: var(--font-subheading);
  cursor: pointer;
}

.user-info__user-image {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: var(--border-icon-button);
}

.user-info__image-placeholder {
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: var(--color-styleWhite);

  border-radius: 50%;
  font: var(--font-subheading);
  line-height: 24.8px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 500px) {
  .user-info__user-name {
    display: none;
  }
}
