.game-image__wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    90deg,
    rgba(244, 244, 244, 0.6) 25%,
    rgba(224, 224, 224, 0.6) 50%,
    rgba(244, 244, 244, 0.6) 75%
  );
  animation: shimmer 1.5s infinite; */
}

.game-image__wrapper_large {
  height: 360px;
  width: 360px;
}

.game-image__wrapper_medium {
  height: 250px;
  width: 250px;
}

.game-image__wrapper_small {
  height: 125px;
  width: 125px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Image styles */
.game-image__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.2s ease-in-out, visibility 0s 0.3s;
  z-index: 2;
}

.game-image__visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 500px) {
  .game-image__wrapper_large {
    height: 350px;
    width: 350px;
  }

  .game-image__wrapper_medium {
    height: 215px;
    width: 215px;
  }

  .game-image__wrapper_small {
    height: 125px;
    width: 125px;
  }
}
