@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2) translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulseHop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  height: 45px;
  max-width: 1360px;
  background-color: var(--color-primary);
  justify-content: center;
  padding: 8px 32px 12px 32px;
  z-index: 2;
}

.header__container {
  height: 100%;
  padding: 0 70px;
}

.header__container-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__title {
  font: var(--font-heading);
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
}

.header__logo {
  margin-right: 24px;
  height: 40px;
  width: 89px;
}

.header__profile-button-image {
  height: 100%;
  width: 100%;
  background-color: none;
}

.header__filter-button {
  border: 3px;
  background-color: var(--color-styleWhite);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: var(--border-icon-button);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: var(--button-hover-transition) background-color;
}

.header__filter-button:hover {
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-box-shadow);
}

.header__filter-button.pulse {
  animation: pulseHop 0.6s ease-in-out 1;
}

.header__filter-button:hover .child {
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-box-shadow);
}

.header__filter-button.header__filters-on {
  background-color: var(--color-secondary);
}

.header__filter-button-count {
  position: absolute;
  /* display: block; */
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 50%;
  background-color: var(--color-accent);
  font: var(--font-subheading);
  font-size: var(--font-size-small);
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border: solid 1.8px black;
  transition: var(--button-hover-transition);
  z-index: 3;
}

.header__filter-button-count_on {
  visibility: visible;
}

.header__filter-button-count_on.pulse {
  animation: pulse 0.6s ease-in-out 1;
}

.header__filter-button-image {
  height: 90%;
  width: 90%;
  background-color: none;
}

.header__container-mobile {
  display: none;
}

.header__user-name {
  margin-right: 12px;
  font: var(--font-subheading);
  text-align: left;
}

.header__user-image {
  cursor: pointer;
}

.header__profile-button {
  border: none;
  background-color: white;
  height: 44px;
  width: 44px;
  border-radius: 4px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__profile-button-image {
  position: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom {
  display: content;
}

.header__text-button {
  background-color: transparent;
  border: none;
  font: var(--font-subheading);
  color: var(--color-styleWhite);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .header {
    min-width: 343px;
    margin: 18px auto 32px auto;
    height: min-content;
  }

  .header__logo {
    margin: 0;
  }

  .header__container-desktop {
    display: none;
  }

  .header__container-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .header__profile-container-visible {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    min-height: 208px;
  }
}
