.text-item-cards {
  padding: 0;
  margin: 0 auto;
}

.text-item-cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 325px);
  grid-auto-flow: dense;
  gap: 16px;
  max-width: 1200px;
}

.text-item-cards__header-container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: baseline;
  margin: 0 0 8px;
  padding: 0 20px;
}

.text-item-cards__header-title {
  font-family: Afacad;
  font-size: 24px;
}

.text-item-cards__header-subtitle {
  font-family: Afacad;
  font-size: 12px;
  width: max-content;
  white-space: nowrap;
}

.text-item-cards__progress-bar {
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(74, 186, 183, 1) 39%,
    rgba(74, 186, 183, 0) 100%
  );
}

.text-item-cards__container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  position: relative;
}

.TextItemCard {
  grid-row: auto;
  grid-column: auto;
}

.ImageItemCard {
  grid-row: span 2;
  grid-column: span 1;
}

.HeroItemCard {
  grid-row: span 3;
  grid-column: span 3;
}

@media screen and (max-width: 1040px) {
  .text-item-cards__list {
    grid-template-columns: repeat(2, minmax(250px, 500px));
  }

  .HeroItemCard {
    grid-row: span 2;
    grid-column: span 2;
  }
}

@media screen and (max-width: 500px) {
  .text-item-cards__list {
    grid-template-columns: repeat(1, minmax(250px, 500px));
  }

  .HeroItemCard {
    grid-row: span 3;
    grid-column: span 1;
  }
}
