.filter-menu__list-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 2px 6px 2px 2px;
  background-color: var(--color-styleWhite);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  z-index: 5;
  overflow: hidden;
}

.filter-menu__title {
  font: var(--font-smallButton);
  color: var(--color-font-dark);
  width: max-content;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.filter-menu__title-text {
  width: max-content;
}

.filter-menu__list-container.filter-menu__open {
  background-color: var(--color-secondary);
}

.filter-menu__list-container.filter-menu__active {
  background-color: var(--color-secondary);
}

.filter-menu__filter-arrow-icon {
  transition: transform 0.2s ease;
}

.filter-menu__filter-arrow-icon.filter-menu__open {
  transform: rotate(90deg);
}

.filter-menu__options {
  width: 100%;

  list-style: none;
  display: none;
}

.filter-menu__options.filter-menu__open {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: left;
  gap: 6px;
}

.filter-menu__filter-arrow-icon {
  margin: 0 6px;
}
