.profile {
  position: relative;
  margin-top: 0 auto;
  padding: 30px 0;
  min-height: 400px;
}

.profile__hero {
  background-color: var(--color-blue-default);
  height: max-content;
  border-radius: 12px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profile__logged-in_true {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profile__logged-in_false {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.profile__games {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 0 auto;
}

.profile__games-title {
  font: var(--font-heading-itemCards);
}

.profile__header {
  font: var(--font-heading-largest);
  font-size: 72px;
}

.profile__subheader {
  font: var(--font-heading-largest);
}

@media screen and (max-width: 500px) {
  .profile__header {
    font: var(--font-heading-largest);
    font-size: 36px;
  }
}
