@import "../Modal/Modal.css";

.modal__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-color: black;
  box-sizing: border-box;
  color: white;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  height: 80vh;
}

.modal__titleBar {
  justify-self: center;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(0 0 0 / 35%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font: var(--font-heading);
  color: var(--color-secondary);
  margin: 0;
  padding: 8px;
}

.modal__bottom {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.modal__close-button {
  top: 24px;
  right: 24px;
  background-color: rgba(0, 0, 0, 0);
}

.modal__text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
  padding: 0 0 32px 32px;
}

.modal__game_mechanics {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: flex-start;
}

.modal__game_shortDescription {
  font-family: afacad;
  font-size: 14px;
  line-height: 16px;
}

.filter-modal__tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  flex-wrap: wrap;
}

.filter-modal__filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.filter-modal__button-container {
  width: max-content;
  height: 80vh;
}

.filter-modal__tab-highlight {
  position: absolute;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-secondary);
}

@media screen and (max-width: 500px) {
  .filter-modal__filter-list {
    row-gap: 18px;
  }
}
